* {
    padding: 0;
    margin: 0;
}

html, body {
    text-align: center;
    height: 100%;
    font-size: 100%;
    color: #C9B9BB;
    font-family: sans-serif;
}

body {
    background: #302E31;
}

#logo > img {
    max-width: 20%;
}

.cover {
    max-width: 200px;
}

#wrapper {
    padding: 2em 0 2em 0;
}

a {
    color: #76C4B5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu {
    font-size: 140%;
}

hr {
    margin: 2em auto 2em auto;
    width: 80%;
    max-width: 1000px;
}

#license-img {
    display: block;
}

.main-text {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

p {
    text-indent: 2em;
    text-align: justify;
}

.block {
    margin-top: 2em;
    display: block;
}

ol {
    list-style-position: inside;
}
